@{
    ViewBag.Title = "Home page";
}

<div class="jumbotron">
    <h1>Online auction</h1>
    <p class="lead">Here you can buy everything you want! To start click the button below.</p>
    <p>
        <a href="@Url.Action("Index","WinLot")" class="btn btn-primary btn-lg">View auction &raquo;</a>
    </p>
</div>
